

@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'nav';
@import 'footer';
@import 'box';

@import 'animations';

@import 'tiva';





body {
	background: $background_color;
	color: $font_color;
	font-family: $font_stack;
	font-size: 62.5%;
	font-weight: normal;
}



#page_section {
	width: calc(100% - #{$sidebar_width_mobile } );
	float:right;
	padding:30px;
}

@media (min-width: 768px){

	#page_section {
		width: calc(100% - #{$sidebar_width } );
	}

}



@import 'search_staff';
@import 'calendar';
@import 'gallery';




.loading {
		font-size: 4em;
		animation: spin 2s infinite linear;
		margin:20px;
		color: lighten($font_color,30);
}


.title_icon {
	padding:20px 0 20px 50px;
	background-position: 5px center;
	background-size: 30px;
	background-repeat: no-repeat;


}


nav li.icon_home  > a,
.title_icon.icon_home {background-image:url('../img/home.svg')}

nav li.icon_logout  > a,
.title_icon.icon_logout {background-image:url('../img/logout.svg')}

nav li.icon_calendar   > a,
	.title_icon.icon_calendar {background-image:url('../img/calendar.svg')}

nav li.icon_documents  > a,
.title_icon.icon_documents {background-image:url('../img/documents.svg')}

nav li.icon_hr  > a,
.title_icon.icon_hr {background-image:url('../img/hr.svg')}

nav li.icon_contacts  > a,
.title_icon.icon_contacts {background-image:url('../img/annuaire.svg')}

nav li.icon_library  > a,
.title_icon.icon_library {background-image:url('../img/library.svg')}

nav li.icon_download  > a,
.title_icon.icon_download {background-image:url('../img/download.svg')}

nav li.icon_wifi  > a,
.title_icon.icon_wifi {background-image:url('../img/wifi.svg')}

nav li.icon_search  > a,
.title_icon.icon_search {background-image:url('../img/search.svg')}

nav li.icon_forms  > a,
.title_icon.icon_forms {background-image:url('../img/documents.svg')}

nav li.icon_location  > a,
.title_icon.icon_location {background-image:url('../img/location.svg')}


nav li.icon_news  > a {background-image:url('../img/rss.svg')}
.title_icon.icon_news {background-image:url('../img/rss_orange.svg')}
