

@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'nav';
@import 'footer';
@import 'box';

@import 'animations';





body {
	background: $background_color;
	color: $font_color;
	font-family: $font_stack;
	font-size: 62.5%;
	font-weight: normal;
}



#page_section {
	width: calc(100% - #{$sidebar_width_mobile } );
	float:right;
	padding:30px;
}

@media (min-width: 768px){

	#page_section {
		width: calc(100% - #{$sidebar_width } );
	}

}



@import 'search_staff';
@import 'calendar';


.loading {
		font-size: 4em;
		animation: spin 2s infinite linear;
		margin:20px;
		color: lighten($font_color,30);
}


.title_icon {
	padding:20px 0 20px 50px;
	background-position: center center;
	background-size: 40px;
	background-repeat: no-repeat;

	&.icon_download {
		background-image:url('../images/download.png')
	}

}
