

@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'header';
@import 'footer';
@import 'animations';





body {
	background: $background-color;
	color: $font-color;
	font-family: $font-stack;
	font-size: 62.5%;
	font-weight: normal;
}


@import 'search_staff';
@import 'calendar';


.loading {
		font-size: 4em;
		animation: spin 2s infinite linear;
		margin:20px;
		color: lighten($font-color,30);
}
