@import "variables";




nav#sidebar {


  width: $sidebar_width_mobile;
  float: left;
  color: white;
  min-height: 100vh;
  transition: all $transition_time;
  position: relative;
  text-indent: -9999px;
  z-index: 200;

  &.expanded {
    // width: $sidebar_width;
    // z-index: 101;
  }


  ul {
    margin: 0;
    padding: 0 20px 20px;
    list-style: none;


    li {
      margin: 0;
      padding: 0;
      display: block;
      text-transform: uppercase;
      border-bottom: 1px solid white;
      font-size: 1.3em;
      position: relative;


      a {
        display: block;
        background-position: left center;
        background-size: 24px;
        background-repeat: no-repeat;
        padding: 20px 0 20px 40px;


        &:link,
        &:visited,
        &:active {
          color: white;
        }

        &:hover {}
      }

      ul {
        padding: 0 0 5px;
        margin: -10px 0 0 30px;
        display: none;
        position: absolute;
        top: 8px;
        left: 20px;
        background: #34495e;
        width: 200px;
        text-indent: 0;
        padding: 10px;
        z-index: 200;

        &:before {
          content: '';
          width: 0;
          height: 0px;
          border-top: 9px solid transparent;
          border-bottom: 7px solid transparent;
          border-right: 10px solid #34495e;
          position: absolute;
          left: -10px;
          top: 20px;
        }

        &.visible_ul {
          display: block;
        }

        li {
          text-transform: none;
          border: 0;
          padding: 0;
          font-size: 1em;

          a {
            background-image: none;
            padding: 0 5px 5px 10px;

          }
        }
      }
    }
  }
}


#sidebar_bg {
  position: fixed;
  top: 0;
  bottom: 0;
  width: $sidebar_width_mobile;
  left: 0;
  height: 100%;
  background: $blue;
  z-index: -1;
  transition: all $transition_time;



  &.expanded {
    // width: $sidebar_width;
    // z-index: 100;
  }

}



@media (min-width: 768px) {
  nav#sidebar {
    width: $sidebar_width;

    ul {
      li {
        a {
          text-indent: 0px;
        }

        ul {
          display: block;
          position: relative;
          top: auto;
          left: auto;
          width: auto;
          text-indent: auto;
          padding: 0;

          &:before {
            display: none;
          }
        }
      }
    }
  }

  #sidebar_bg {
    width: $sidebar_width;
  }

}