


$blue: #34495e;
$orange: #e97e06;
$green: #27ae61;
$yellow: #f1c40f;


$background-color: #f6f6f6;
$font-color: #333;


$font-stack:  'Open Sans' ,  arial, sans-serif;

$border-radius: 7px;


$sidebar-width: 250px;
