


$blue: #34495e;
$orange: #e97e06;
$green: #27ae61;
$yellow: #f1c40f;

$light_grey: #eee;


$background_color: #fff;
$font_color: #333;


$font_stack:  'Open Sans' ,  arial, sans_serif;

$border_radius: 7px;

$sidebar_width_mobile: 50px;
$sidebar_width: 250px;

$transition_time:  0.3s;
